section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  }


.input {
  height: 40px;
  border-radius: 5px;
  margin: 0.5rem auto;
  width: 300px;
  text-align: center;
  margin-top: .5rem;
}

button {
  background: #148a14;
  color: rgb(255, 255, 255);
  border: none;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  transition: 0.5s;
}

button:hover {
  background: #01dd01;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
